<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu1228.mapper.SpuMapper">


	<insert useGeneratedKeys="true" keyColumn="id" keyProperty="id"
		id="insert_product" parameterType="com.atguigu1228.bean.T_MALL_PRODUCT">
		insert t_mall_product(
		shp_mch,
		shp_tp,
		flbh1,
		flbh2,
		pp_id,
		shp_msh
		)
		values
		(
		#{shp_mch},
		#{shp_tp},
		#{flbh1},
		#{flbh2},
		#{pp_id},
		#{shp_msh}
		)
	</insert>

	<insert id="insert_product_images">
		insert t_mall_product_image(
		shp_id,
		url
		)
		values
		<foreach collection="images_name" item="image" separator=",">
			(#{id},#{image})
		</foreach>
	</insert>


</mapper>
